
/new-nasional-elektronik-frontend/node_modules
/new-nasional-elektronik-frontend/.next
/new-nasional-elektronik-frontend/.next
new-nasional-elektronik-frontend/.next/server/server-reference-manifest.json
new-nasional-elektronik-frontend/.next/trace
