/new-nasional-elektronik-frontend/node_modules
/new-nasional-elektronik-frontend/.next
/new-nasional-elektronik-frontend/.next
new-nasional-elektronik-frontend/.next/server/server-reference-manifest.json
new-nasional-elektronik-frontend/.next/trace
/new-nasional-elektronik-backend/node_modules
/new-nasional-elektronik-frontend/.next
.next/
node_modules/
.DS_Store
/new-nasional-elektronik-frontend/.next
/new-nasional-elektronik-frontend/.next
/new-nasional-elektronik-frontend/.next/cache
/new-nasional-elektronik-frontend/.next/cache/webpack
/new-nasional-elektronik-frontend/.next/cache/webpack/client-development
*.gz
